*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    
}
body {background-image: url(pexels-marta-dzedyshko-2067569.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.navegador  {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
}

.navegador a{font-size: larger;
    font-weight: bold;
    text-shadow: 1px 2px #999;
    color:aliceblue;
    text-decoration: none;}

.formulario {
    padding:10px;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    
    
    
}
.form {border-radius: 10px;
    background-color:aliceblue;
    box-shadow: 4px 3px 2px 3px #3f3e3e;
    
}
.form input {border: 0.4px ;}

.btn {width: 60%;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 2px darkred;
}


@media (max-width:460px){

    .formulario {width: 80%;


    }
}